
.embla {
  --slide-height: 18rem;
}

.embla__container {
  display: flex;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(var(--slide-height) * 4 / 3);
  min-width: 0;
  height: var(--slide-height);
}