@import "tailwindcss";

footer {
  @apply py-5 text-sm;
}

/* Body text color */
body {
  color: #ffffff;
  background-color: #000000;
}

/* Text sections */
section {
  font-family: "Manrope Variable", sans-serif;

  /* Headers, paragraphs and links */
  h1 {
    font-family: "Literata Variable", serif;
    font-size: 30pt;
    margin-bottom: 0.1rem;
  }
  h2 {
    font-size: 18pt;
    margin-bottom: 0.2rem;
    @apply font-bold
  }
  p {
    @apply mb-2;
  }
  a {
    @apply underline underline-offset-4 text-blue-500;
  }

  /* Lists and tables */
  li {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 1.2rem;
    padding-left: 0.3rem;
  }
  table {
    @apply my-5 w-full;
  }
  table, th {
    border: 1px solid;
  }
  td {
    border: 1px solid;
    @apply px-2 py-2;
  }
}

:root {
  --color-thomas-white: #ffffff;
  --color-thomas-black: #000000;
}
