@import "tailwindcss";

footer {
  @apply py-5 text-sm;
}

/* Body text color */
body {
  color: white;
  background-color: black;

  @media print {
    color: black
  }
}

/* Text sections */
section, header {
  font-family: var(--font-thomas-sans), sans-serif;

  /* Headers, paragraphs and links */
  h1 {
    font-family: var(--font-thomas-title), serif;
    font-size: 30pt;
    margin-bottom: 0.1rem;
  }
  h2 {
    font-size: 18pt;
    margin-bottom: 0.2rem;
    @apply font-bold
  }
  p {
    @apply mb-2;
  }
  a {
    @apply underline underline-offset-4 text-blue-500;
  }

  /* Lists and tables */
  li {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 1.2rem;
    padding-left: 0.3rem;
  }
  table {
    @apply my-5 w-full;
  }
  table, th {
    border: 1px solid;
  }
  td {
    border: 1px solid;
    @apply px-2 py-2;
  }
}

@theme {
  --text-shadow-large: 0 3px 5px rgb(0 0 0 / 0.8);
}

.stroke-big {
  -webkit-text-stroke: 6px black;
  paint-order: stroke fill;
}

.stroke-small {
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

.font-title {
  font-family: var(--font-thomas-title), serif;
}

:root {
  --color-thomas-white: #ffffff;
  --color-thomas-black: #000000;

  --font-thomas-title: "Literata Variable", serif;
  --font-thomas-sans: "Manrope Variable", sans-serif;
}
