<section class="py-5 space-y-5 text-center">
  <div>
    <p class="">
      <span>&copy;{" "}</span>
      <span id="footer-year"/>
      <span>{" | Thomas Sjerps"}</span>
    </p>
    <p>Alle rechten voorbehouden.</p>
  </div>
</section>

<script>
  document.querySelector("#footer-year")!.textContent = new Date().getFullYear().toString();
</script>
