---
import type {Locale} from "../lib/locale";

type Props = {
  currentLocale: Locale;
  href: string;
}

const { currentLocale, href } = Astro.props;
---

<a
  href={href}
  class="navbar_item m-0 md:m-0 hover:scale-105 transition-transform w-[7rem] pl-2 md:py-3 cursor-pointer flex items-center justify-center"
>
  <span class={currentLocale === 'nl' ? 'font-black underline' : ''}>
    NL
  </span>
  <span class="mx-1">/</span>
  <span class={currentLocale === 'en' ? 'font-black underline' : ''}>
    EN
  </span>
</a>
