---
import { toColorVariable } from "@/lib/color";
import type { CollectionEntry } from 'astro:content';
import RandomRotateDiv from './random-rotate-div.astro';
import {cn} from "../lib/tailwind";

interface Props {
  section: CollectionEntry<'sections'>;
  className?: string;
}

const { section, className } = Astro.props;

const textFgColorClass = toColorVariable(section.data.tekstkleur ?? "wit");
const textBgColorClass = toColorVariable(section.data.tekstkleur_achtergrond ?? "zwart");

const { Content } = await section.render();
---

<RandomRotateDiv 
  class={cn(className, "notion-paragraph size-fit px-8 py-6")}
  style={{
    color: textFgColorClass,
    backgroundColor: textBgColorClass,
  }}
>
  <h1>{section.data.title}</h1>
  <Content />
  <slot/>
</RandomRotateDiv>