---
import { Image } from 'astro:assets';
import paperBg from '../assets/paper.jpg';

interface Props {
  rotation: number;
  polaroidData: { image: ImageMetadata; description: string };
}

const { rotation, polaroidData } = Astro.props;
---

<div class="text-center text-black p-10 select-none">
  <div
    class="w-[20rem] h-[24rem] pt-10 flex justify-center shadow-2xl"
    style={{
      transform: `rotate(${rotation}deg)`,
      // 3. Use the .src property from the imported background asset
      backgroundImage: `url(${paperBg.src})`,
      backgroundSize: "cover"
    }}
  >
    <div class="size-60">
      <Image
        src={polaroidData.image}
        width={240}
        height={240}
        class="size-full aspect-square object-cover shadow-[0_0_10px_rgba(0,0,0,0.3)]"
        alt="Photo"
      />
      <p class="mt-5 text-sm">{polaroidData.description}</p>
    </div>
  </div>
</div>