---
import tempImage from '@assets/temp.png';
import Slideshow from "./slideshow.astro";

type Props = {
  isEven: boolean;
  speed: number;
}
const { isEven, speed } = Astro.props;

const oddEvenClass = isEven ? 'portfolio-section-odd' : 'portfolio-section-even';
---


<section class="flex flex-row h-[18rem] justify-stretch" style={{ backgroundImage: `url(${tempImage.src})`, backgroundSize: 'cover' }}>
  <h1 class:list={[ "h-full w-[10rem] text-2xl font-bold flex items-center justify-center text-shadow-[0_3px_5px_rgb(0_0_0_/_0.8)]", oddEvenClass ]}>
    Hello!
  </h1>

  <div class="flex-1 min-w-0 overflow-clip rounded-l-3xl">
    <Slideshow speed={speed}/>
  </div>
</section>

<style>
  .portfolio-section-odd { width: 100%; }
  .portfolio-section-even { width: 100%; }

  @media (min-width: 800px) {
    .portfolio-section-odd { width: 30%; }
    .portfolio-section-even { width: 40%; }
  }

</style>