---
import tempImage from '@assets/temp.png';
import Slideshow from "./slideshow.astro";

type Props = {
  isEven: boolean;
}
const { isEven } = Astro.props;

const oddEvenClass = isEven ? 'portfolio-section-odd' : 'portfolio-section-even';
---


<section class:list={[ "flex flex-row h-[18rem] justify-stretch", oddEvenClass ]} style={{ backgroundImage: `url(${tempImage.src})`, backgroundSize: 'cover' }}>
  <h1 class="h-full aspect-video text-2xl font-bold flex items-center justify-center text-shadow-[0_3px_5px_rgb(0_0_0_/_0.8)]">
    Hello!
  </h1>

  <div class="flex-1 min-w-0 overflow-clip rounded-l-3xl">
    <Slideshow/>
  </div>
</section>

<style>
  .portfolio-section-odd { padding-left: 2%; }
  .portfolio-section-even { padding-left: 4%; }

  @media (min-width: 1024px) {
    .portfolio-section-odd { padding-left: 4%; }
    .portfolio-section-even { padding-left: 8%; }
  }

  @media (min-width: 1280px) {
    .portfolio-section-odd { padding-left: 10%; }
    .portfolio-section-even { padding-left: 20%; }
  }
</style>