---
import NotionParagraph from "../notion-paragraph.astro";
import SectionWithBackground from "../section-with-background.astro";
import VideoColumn from "../video-column.astro";
import { toColorVariable } from "@lib/color";
import type { CollectionEntry } from "astro:content";

interface Props {
  section: CollectionEntry<'sections'>;
}

const { section } = Astro.props;

const textBgColorClass = toColorVariable(section.data.tekstkleur_achtergrond ?? "doorzichtig");

const backgroundName = section.data.achtergrond ?? "doorzichtig";

const stickerCount = section.data.aantal_stickers;
---

<SectionWithBackground backgroundName={backgroundName} stickerCount={stickerCount}>
  <NotionParagraph section={section} />

  <div class="h-8"></div>

  <div 
    class="grid xl:grid-cols-2 grid-cols-1 gap-4 select-none p-4 rounded-2xl shadow-xl" 
    style={{ backgroundColor: textBgColorClass }}
  >
    <VideoColumn src="https://www.youtube.com/embed/-StaZfJ_FaU" />
    <VideoColumn src="https://www.youtube.com/embed/f9a--kV4cJ4" />
  </div>
</SectionWithBackground>