---
import PageLayout from "@layouts/page-layout.astro";
import {DEFAULT_LOCALE, type Locale, LOCALES} from "@lib/locale.ts";
import PortfolioSection from "@components/portfolio-section.astro";

export function getStaticPaths() {
  return [...LOCALES.map(it => ({ params: { locale: it } })), { params: { locale: undefined } }];
}

const locale = (Astro.params.locale ?? DEFAULT_LOCALE) as Locale;
---

<PageLayout locale={locale}>
  <section class="flex flex-col bg-gray-900 text-center py-10">
    <h1>Portfolio</h1>
    <p>
      A small intro paragraph.
    </p>
  </section>

  <PortfolioSection isEven={true} speed={0.8}/>
  <PortfolioSection isEven={false} speed={1.0}/>
  <PortfolioSection isEven={true} speed={1.2}/>
</PageLayout>
